<blockquote class="timer">
  <p>
    <b>
      <% if (anomaly.base) { %>
        Memetic detectors indicate that you have been exposed to this file for
        at least 6 minutes. You are now considered post-3211. If you can still
        perceive the documentation as you originally recall it, please consult
        a researcher assigned to SCP-3211 immediately.
      <% } else { %>
        YOU HAVE 6 MINUTES TO <span class="read">READ</span> THIS FILE
      <% } %>
    </b>
  </p>
  <p class="timer">06:00</p>
</blockquote>

<div class="scp-image-block block-right"
     style="width: 300px;">
  <img src="<%- anomaly.prose.imageUrl %>"
       style="width: 300px;"
       class="image">
  <div class="scp-image-caption"
       style="width: 300px;">
    <p><%- anomaly.prose.imageCaption %></p>
  </div>
</div>

<p><b>Item #:</b> SCP-3211</p>

<p><b>Object Class:</b> <%- anomaly.prose.objectClass %></p>

<p>
  <b>Special Containment Procedures:</b>
  To reduce unnecessary exposure to SCP-3211, a warning message is to be placed
  at the start of this document. Level 4 authorisation must be required to
  proceed. No information regarding SCP-3211 is to be present in any resources
  not exclusively available to researchers assigned to SCP-3211, including the
  warning message.
</p>
<p>
  Except in the event of an emergency necessitating knowledge of SCP-3211, no
  more than 3 members of the O5 council and 10% of the population of any
  individual Site are to have been exposed to information regarding SCP-3211
  other than its existence.
</p>
<p>
  SCP-3211 is to be kept in a standard non-humanoid containment chamber. Access
  is to be limited to tests only.
</p>

<p><b>Description:</b> <%= anomaly.prose.physicalDescription %></p>

<p>
  SCP-3211 exhibits a slow-acting but potent perception-altering effect. During
  the first 6 minutes of exposure to SCP-3211, subjects are able to observe and
  record SCP-3211 without issue. Once 6 minutes have passed, subjects will
  immediately and permanently be unable to perceive any direct information
  associated with SCP-3211, or observe SCP-3211 itself.
  <% if (anomaly.base) { %>
    This effectively quarantines information about SCP-3211 to only those who
    have been exposed to it for less than 6 minutes.
  <% } %>
</p>

<p>
  For the purposes of this document, subjects who have already been exposed to
  SCP-3211 for at least 6 minutes will be described as <b>post-3211</b> and
  those who have been exposed to it for less than 6 minutes will be described
  as <b>pre-3211</b>.
</p>

<% if (anomaly.base) { %>
<p>
  Post-3211 subjects are consistently adamant that they are able to perfectly
  remember its nature despite being unable to take in new information about it.
  However, it quickly becomes apparent that each post-3211 subject reports a
  different description for SCP-3211. A selection of such descriptions, in
  chronological order of their being reported, is provided below.
</p>
<p>
<ul>
  <li>████ brand microwave oven</li>
  <li><i>Homo sapiens</i>, Czech female, named "Nerozumím"</li>
  <li>Porcelain mug printed with imagery from █████████ franchise, empty</li>
  <li>Red cube, perfectly smooth, 12 cm on all sides</li>
  <li>
    <i>Columba livia domestica</i> (common pigeon) corpse in early stages of
    decomposition
  </li>
  <li>The colour "puce"</li>
  <li>Clay vase, presumably ancient</li>
  <li>
    DVD boxset of the television series 'Friends', missing a disc from season 3
  </li>
  <li>A small plastic badge imprinted with the number '3211'</li>
</ul>
</p>
<% } else { %>
<p>
  Post-3211 subjects are consistently able to recall, without issue, that
  SCP-3211 is <%= anomaly.prose.informalDescription %>. However, only pre-3211
  subjects are able to perceive SCP-3211 itself, or record new information
  about it.
</p>
<% } %>

<p>
  Of note is that descriptions of the object vary between post-3211 subjects.
  <% if (anomaly.base) { %>
    Observations indicate that pre-3211 subjects consistently agree on the
    nature of SCP-3211
  <% } else { %>
    All pre-3211 subjects agree that SCP-3211 is
    <%= anomaly.prose.observedDescription %>
  <% } %>
  -- however, once these subjects pass the 6 minute threshold, they will
  disagree on what it is. This also applies to documentation: personnel
  viewing this document <%= anomaly.base ? "universally" : "may" %> report
  that it describes something else
  <%= anomaly.base ? "before it changed" : "after it changes" %>
  after 6 minutes of exposure. See Experiment Logs 3211-B and -D for more
  details.
</p>

<% if (anomaly.base) { %>
<p>
  Note that post-3211 subjects reporting unique descriptions is not universal
  -- in several cases, the same description has been reported more than once.
</p>
<p>
  The fact that those who have been exposed to SCP-3211 are able to read the
  list above suggests that none of those descriptions are what SCP-3211 truly
  is. Several theories have been suggested:
</p>
<p>
  <ul>
    <li>
      That none of the descriptions are true, and that the real SCP-3211 has
      yet to be seen.
    </li>
    <li>
      That none of the descriptions are true, and that the real SCP-3211 will
      reveal itself to someone 'worthy'.
    </li>
    <li>
      That one of the above descriptions is true, and the rest are false.
    </li>
    <li>
      That all of the above descriptions are true, and that SCP-3211 is somehow
      several objects located in the same conceptual space.
    </li>
  </ul>
</p>
<% } %>

<p>
  The mechanism through which SCP-3211 propagates this effect is currently
  <% if (anomaly.base) { %>
    unknown, though the current theory proposes that after the 6-minute
    threshold, SCP-3211 'injects' false memories over the original perception.
  <% } else { %>
    unknown.
  <% } %>
</p>
<p>
  Amnestics have proven to be effective on post-3211 subjects. They will forget
  SCP-3211 as expected, and upon re-exposure
  <% if (anomaly.base) { %>
    may perceive it as something new. A method of amnesticating only the false
    memories has not yet been found.
  <% } else { %>
    will be able to perceive it for an additional 6 minutes.
  <% } %>
</p>

<p><b>Addendum 3211-A:</b> Experiment Logs 3211-B and 3211-D</p>

<div class="collapsible-block 2min-b">
  <div class="collapsible-block-folded"
       style="display: block;">
    <a class="collapsible-block-link"
       target="2min-b">
      ► Experiment Log 3211-01
    </a>
  </div>
  <div class="collapsible-block-unfolded"
       style="display: none;">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link"
         target="2min-b">
        ▼ Experiment Log 3211-01
      </a>
    </div>
    <div class="collapsible-block-content"
         style="display: block;">
      <blockquote>
        <p style="text-align: center;"><b>EXPERIMENT LOG 3211-01</b></p>
        <hr>
        <p>
          The purpose of this experiment was to establish a firsthand written
          description of SCP-3211 and then compare this description with
          another observer.
        </p>
        <p>
          D-68134 was given a pencil, clipboard and a single sheet of paper. He
          was instructed to enter the containment cell and produce a written
          description of its contents.
        </p>
        <hr>
        <p>
          <b>[</b>-0:10<b>]</b> D-68134 enters the containment chamber with his
          eyes closed.
        </p>
        <p><b>[</b>0:00<b>]</b> D-68134 is instructed to open his eyes.</p>
        <p>
          <b>[</b>0:08<b>]</b> D-68134 begins writing a description of
          SCP-3211.
        </p>
        <% if (anomaly.prose.examineAction) { %>
        <p>
          <b>[</b>1:55<b>]</b> <%= anomaly.prose.examineAction %>
        </p>
        <% } %>
        <p>
          <b>[</b>6:04<b>]</b> D-68134 expresses surprise that he can no longer
          perceive SCP-3211. He expresses anger at not being able to read what
          he has written.
        </p>
        <p>
          <b>[</b>6:25<b>]</b> D-68134 is instructed to leave the containment
          chamber.
        </p>
        <hr>
        <p>
          The description produced by D-68134 was retained as Document 3211-01.
        </p>
      </blockquote>
    </div>
  </div>
</div>

<div class="collapsible-block 2min-d">
  <div class="collapsible-block-folded"
       style="display:block">
    <a class="collapsible-block-link"
       target="2min-d">
      ► Experiment Log 3211-02
    </a>
  </div>
  <div class="collapsible-block-unfolded"
       style="display:none">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link"
         target="2min-d">
        ▼ Experiment Log 3211-02
      </a>
    </div>
    <div class="collapsible-block-content"
         style="display:block">
      <blockquote>
        <p style="text-align:center"><b>EXPERIMENT LOG 3211-02</b></p>
        <hr>
        <p>
          The purpose of this experiment was to compare the written description
          from Experiment 3211-01 with another observer.
        </p>
        <p>
          D-8834 is provided with Document 3211-01 and instructed not to read
          it.
        </p>
        <hr>
        <p>
          <b>[</b>-0:10<b>]</b> D-8834 enters the containment chamber with her
          eyes closed.
        </p>
        <p>
          <b>[</b>0:00<b>]</b> D-8834 is instructed to open her eyes and
          compare the object in the room to the description on Document
          3211-01.
        </p>
        <p>
          <b>[</b>1:18<b>]</b> D-8834 confirms that the SCP-3211 matches the
          written description.
        </p>
        <% if (anomaly.prose.examineConfirmationAction) { %>
        <p>
          <b>[</b>1:59<b>]</b> <%= anomaly.prose.examineConfirmationAction %>
        </p>
        <% } %>
        <p><b>[</b>5:45<b>]</b> D-8834 is asked to close her eyes.</p>
        <p>
          <b>[</b>6:15<b>]</b> D-8834 is asked to compare the object to the
          written description again, from memory.
        </p>
        <p>
          <b>[</b>6:34<b>]</b> D-8834 confirms that Document 3211-01 describes
          <%=
            anomaly.base ?
            "describes a completely different object to" :
            "still describes"
          %> SCP-3211.
        </p>
        <p>
          <b>[</b>6:44<b>]</b> D-8834 is asked to open her eyes. She reports
          that she is neither able to perceive the object nor read Document
          3211-01.
        </p>
      </blockquote>
    </div>
  </div>
</div>

<div class="collapsible-block 2min-c">
  <div class="collapsible-block-folded"
       style="display: block;">
    <a class="collapsible-block-link"
       target="2min-c">
      ► Document 3211-01
    </a>
  </div>
  <div class="collapsible-block-unfolded"
       style="display: none;">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link"
         target="2min-c">
        ▼ Document 3211-01
      </a>
    </div>
    <div class="collapsible-block-content"
         style="display: block;">
      <p>
        The following is a transcription of Document 3211-01, the text produced
        by D-68134 during Experiment 3211-01.
      </p>
      <blockquote>
        <p><%= anomaly.prose.writtenObservation %></p>
      </blockquote>
    </div>
  </div>
</div>

<p><b>Addendum 3211-B:</b> Empirical data</p>

<p>
  <%
    anomaly.base ?
    "As an attempt to determine the true nature of SCP-3211, a" :
    "A"
  %> collection of data has been recorded from SCP-3211 and is listed below.
  This data has been recorded only by pre-3211 researchers.
  <% if (anomaly.base) { %>
    It is currently unknown whether the readings are accurate, or if the reader
    perceives them to match their current perception of SCP-3211.
  <% } else { %>
    Note that it is currently unknown why this data is considered important
    enough to retain on file.
  <% } %>
</p>

<table class="wiki-content-table">
  <tr>
    <th>Data type</th>
    <th>Observation</th>
  </tr>
  <tr>
    <td>Full-spectrum spectrophotometry</td>
    <td><% anomaly.prose.measuredProperties.spectrophotometry %></td>
  </tr>
  <tr>
    <td>Mass</td>
    <td><% anomaly.prose.measuredProperties.mass %></td>
  </tr>
  <tr>
    <td>Hume measurement</td>
    <td><% anomaly.prose.measuredProperties.hume %></td>
  </tr>
  <tr>
    <td>Magnetism</td>
    <td><% anomaly.prose.measuredProperties.magnetism %></td>
  </tr>
  <tr>
    <td>Visual observation by D-9981</td>
    <td><% anomaly.prose.measuredProperties.visual %></td>
  </tr>
  <tr>
    <td>Physical observation by D-9981</td>
    <td><% anomaly.prose.measuredProperties.physical %></td>
  </tr>
  <tr>
    <td>Response to basic questioning by D-9981</td>
    <td><% anomaly.prose.measuredProperties.questioning %></td>
  </tr>
  <tr>
    <td>Type-Kappa memetic sentience detector</td>
    <td><% anomaly.prose.measuredProperties.sentience %></td>
  </tr>
</table>

<p>
  <b>Incident Log 3211-C:</b> On 2016-03-31, a researcher who was not assigned
  to SCP-3211, Dr. Jason Greaves, took a Class-Y
  mnestic<sup class='footnoteref'>
    <a id='footnoteref-1'
       class='footnoteref'
       onmouseover='hoverdiv(event)'
       onmouseout='hoverdiv(event)'>
      1
    </a>
  </sup> without authorisation and entered the containment chamber.
  <% if (anomaly.base) { %>
    Personnel reported being unable to perceive Dr. Greaves until his
    unconscious body "spontaneously appeared" several hours later. Dr. Greaves
    returned to full health with medical care, but did not retain any details
    of his encounter with SCP-3211, claiming only that he 'wasted his time in
    an empty cell'.
  <% } %>
</p>
<p>
  Dr. Greaves recorded a series of audio logs detailing his thought process
  during his encounter.
  <% if (anomaly.base) { %>
    However, the content of these logs propagate the infohazardous effect, and
    are effectively devoid of information.
  <% } %>
  Their transcriptions are preserved below for posterity.
</p>
<p>
  Dr. Greaves <%=
    anomaly.base ?
    "was severely reprimanded for not following standard testing procedure." :
    "is available for questions regarding his experience with SCP-3211."
  %>
</p>

<div class="collapsible-block 2min-f">
  <div class="collapsible-block-folded"
       style="display: block; margin-bottom: 200px;">
    <a class="collapsible-block-link"
       target="2min-f">
      ► Audio Log of Incident 3211-C
    </a>
  </div>
  <div class="collapsible-block-unfolded"
       style="display: none;">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link"
         target="2min-f">
        ▼ Audio Log of Incident 3211-C
      </a>
    </div>
    <div class="collapsible-block-content"
         style="display: block;">
      <blockquote>
        <p>Dr. Jason Greaves, SCP-3211, experiment log... one?</p>
        <p>
          If you're hearing this and if, like me, you're souped-up on some
          heavy-ass mnestics, then you and me both know for sure that SCP-3211
          <%
            anomaly.base ?
            "does not exist" :
            `is ${anomaly.prose.informalDescription}`
          %>. Why it's trying so hard to hide that from us, we'll never know.
          But, if you're not high as hell on Class Y, then in less than 6
          minutes you'll only remember me just rambling on about some random
          thing sat in a containment chamber.
        </p>
        <p>
          And of course, when that happens, all these logs will say is that
          there's nothing in the containment chamber at all.
        </p>
        <p>
          What I'm trying to do is work out exactly what SCP-3211 is, how it
          works, and why it's trying so hard to hide. What does it want?
        </p>
        <p>
          No matter what I tried and who I spoke to, I couldn't get this test
          authorised. But it needs to be done. So I've taken a small dose of
          Class Y mnestics and I'm doing this myself. I only have a couple of
          hours before the Class Y stops helping me remember things and starts
          making me forget things, so I'd better get started.
        </p>
      </blockquote>
      <blockquote>
        <p>I've noticed something of a pattern emerging.</p>
        <p>
          Most people who walk into 3211's cell will perceive
          <% if (anomaly.base) { %>
            the cell to be completely empty. Like, I can clearly see that there
            is nothing here.
          <% } else { %>
            it as something totally new. Like, I see it as
            <%= anomaly.prose.informalDescription %>, and there's no one else on
            the list who's perceived it as that.
          <% } %>
        </p>
        <p>
          <% if (anomaly.base) { %>
            There is nothing in the containment cell. SCP-3211 does not exist.
          <% } else { %>
            But, <%= anomaly.prose.funFact %>. It's not <i>just</i>
            <%= anomaly.prose.informalDescription %>. It has anomalous
            properties other than the fact that people can't see it for more
            than 6 minutes and then their memories after that are wrong.
          <% } %>
        </p>
        <p>
          It seems to me like Foundation personnel -- researchers and the like
          -- will perceive <%=
            anomaly.base ?
            "the containment cell to be completely empty." :
            "it as something anomalous."
          %> People who are already familiar with
          <% anomaly.base ? "nothing" : "the anomalous" %>,
          who are <i>expecting</i>
          <% if (anomaly.base) { %>
            nothing, will see nothing in the containment chamber, because it is
            empty.
          <% } else { %>
            it to be anomalous, will remember it being something anomalous.
          <% } %>
        </p>
        <p>
          But a D-Class, for example, who is not familiar with the anomalous,
          will remember <%=
            anomaly.base ?
            "the containment cell being empty, just the same." :
            "it being something mundane. Like a clay vase."
          %>
        </p>
        <p>
          <% if (anomaly.base) { %>
            It looks like SCP-3211 does not exist at all. But I still don't
            understand why, if SCP-3211 does not exist, I insist on trying to
            prove that it does. SCP-3211 does not exist.
          <% } else { %>
            It looks like it adapts to match the viewer's expectation. But I
            still don't understand why a red cube is going to such lengths to
            protect itself in the first place.
          <% } %>
        </p>
        <p>
          My head feels... foggy. I don't know if it's the SCP or the mnestics
          starting to wear off. I actually don't know how long Class Y lasts.
        </p>
      </blockquote>
      <blockquote>
        <p>
          I think I've narrowed it down to three... stages. That seems to be
          the right word.
        </p>
        <p>
          So, the first stage is what you see when you walk into the cell for
          the first time; what SCP-3211 really is. It's
          <%= anomaly.base ? "nothing" : anomaly.prose.informalDescription %>.
          Obviously, as soon as my mnestics wear off, I'll forget that. And so
          will you. I assume you've taken mnestics.
        </p>
        <p>
          The second stage is whatever memory SCP-3211 injects over itself when
          you've seen it for more than 6 minutes. Last time I saw it, I
          remembered seeing... my son, who would be six. That was the second
          stage for me.
        </p>
        <p>
          The third stage is that you can't perceive it at all. Its disguise is
          complete and it's hidden from you.
        </p>
        <p>
          I think I know why it wants to hide. I just... need to put the words
          into a sentence.
        </p>
        <p>
          It's getting hard to think. My thoughts feel like walking through
          ketchup.
        </p>
      </blockquote>
      <blockquote>
        <p>Oh God, my head is killing me.</p>
        <p>
          I'm certain it's the mnestics. Class Z literally kills you when you
          take it, because the effect is permanent. Class Y won't kill you... I
          hope? I, uh... might have majorly fucked up by doing this.
        </p>
        <p>
          It's really weird seeing all the things you can't usually remember.
          There's bugs everywhere, covering every surface. <%=
            anomaly.base ?
            "The containment cell is empty. There are no bugs." :
            "They're crawling all over it, too."
          %>
        </p>
        <p>I need to sleep. I just want to sleep.</p>
      </blockquote>
      <blockquote>
        <p>The floor is so much more comfortable than standing.</p>
        <p>
          It's getting hard to breathe. I don't know if that's my lungs closing
          up, or if it's just the... if it's just me forgetting <i>how</i>. At
          least I haven't forgotten what it was the first time I saw it.
        </p>
        <p>
          But I know for sure why SCP-3211 wants to disguise so avidly. It's
          right there, just in front of you. I'm surprised no one has seen it
          yet.
        </p>
        <p>
          It's just... it's just that it's not really... <%
            anomaly.base ?
            "it's not really there. It does not exist." :
            "really itself, right?"
          %>
        </p>
      </blockquote>
      <blockquote>
        <p>
          I don't know how to take mnestics, dammit. I only make them. I know
          how they're... how they're...
        </p>
        <p>I need to sleep.</p>
        <p>
          <%
            anomaly.base ?
            "I am alone in this room. The containment cell is empty." :
            "It's just sat there. Watching me."
          %> Just... just make me forget already.
        </p>
        <p>
          <%
            anomaly.base ?
            "I know that it does not exist" :
            "I know your secrets, dammit"
          %>... why don't... why can't... why did you have to show him to me?
        </p>
        <p>Why did you have to take him away again?</p>
        <p>I don't think I'm going to survive.</p>
        <p>Why hasn't anyone come to get me?</p>
      </blockquote>
      <p>
        It is assumed that Dr. Greaves fell unconcsious at this point. The
        remainder of the logs are mostly silent<%
          anomaly.prose.madeASound ?
          `, excluding ${anomaly.prose.madeASound},` :
          ""
        %> up to the point where a member of security staff noticed Dr. Greaves
        on closed-circuit monitoring several minutes later and called for help.
      </p>
    </div>
  </div>
</div>

<div class='footnotes-footer'>
  <div class='title'>Footnotes</div>
  <div class='footnote-footer'
       id='footnote-1'>
    <a>1</a>. "Mnestics, as opposed to the more common amnestics, generally aid
    in the retention of memories and the prevention of their modification even
    in the face of anomalies that seek to disrupt this..." – Excerpt from
    <i>An Introduction to Antimemetic Counter-Measures</i>,
    <a href='http://www.scp-wiki.net/we-need-to-talk-about-fifty-five'>
      Marion Wheeler
    </a>
  </div>
</div>
