<head>
  <style type="text/css">
    <%- css %>
  </style>

  <script lang="text/javascript">
    window.reference = <%- reference %>
    window.anomalies = <%- deltas %>
    window.lang = <%- lang %>
  </script>

  <script lang="text/javascript">
  </script>
</head>
<body>
  <section id="buttons" class="hidden">
    <%- buttons %>
  </section>

  <section id="warning">
    <%- warning %>
  </section>

  <section id="loading" class="hidden">
    <%- loading %>
  </section>

  <section id="review" class="hidden"/>

  <section id="anomaly" class="hidden"/>
</body>
