<script>
  document.head.appendChild(
    Object.assign(document.createElement("meta"), {
      name: "viewport",
      content: "width=device-width, initial-scale=1.0"
    })
  );
  document.head.appendChild(
    Object.assign(document.createElement("base"), {
      target: "_top",
    })
  );
  document.head.appendChild(
    Object.assign(document.createElement("link"), {
      href: "https://d3g0gp89917ko0.cloudfront.net/v--edac79f846ba/common--theme/base/css/style.css",
      rel: "stylesheet",
    })
  );
  document.head.appendChild(
    Object.assign(document.createElement("link"), {
      href: "https://cdn.scpwiki.com/theme/en/sigma/css/sigma.min.css",
      rel: "stylesheet",
    })
  );
  document.head.appendChild(
    Object.assign(document.createElement("link"), {
      href: "https://scp-wiki.wdfiles.com/local--code/component%3Acroqstyle/1",
      rel: "stylesheet",
    })
  );
</script>

<style type="text/css">
  <%- css %>
</style>

<script type="text/javascript">
  window.anomalies = <%- deltas %>
  window.reference = <%- reference %>
  window.lang = <%- lang %>
</script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>
<script src="<%- fileUrl %>3211@<%- version %>.js" defer></script>

<section id="buttons" class="hidden">
  <%- buttons %>
</section>

<section id="warning">
  <%- warning %>
</section>

<section id="loading" class="hidden">
  <%- loading %>
</section>

<section id="anomaly" class="hidden"/>
